body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  width: auto;
  color: #0095B3;
  line-height: 1.8;
}

b{
  font-weight: 900;
}

.langmenu{
	z-index: 3; 
	width: 100px; 
	height: auto; 
	font-weight: bold;
	top:70px;
	position: fixed;
	margin: auto;
	right: 0;
  padding-bottom: 10px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4,.bgimg-5,.bgimg-6,.bgimg-7{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('../../images/snow_rv_investigator.jpg');
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("../../images/space_astronaut.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../../images/southern_ocean.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../../images/milky.JPG");
  min-height: 200px;
}

.bgimg-5 {
    background-image: url("../../images/animation.png");
    min-height: 400px;
  }


.bgimg-6 {
  background-image: url("../../images/sunset_southern_ocean.jpg");
  min-height: 400px;
}

.bgimg-7 {
  background-image: url("../../videos/website.gif");
  min-height: 400px;
  background-position:right;
}

.continue_info_click{
  position: absolute;
  bottom:0px; 
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index:10
}

#continue_click span{
  position: relative;
  font-size:16px;}

#continue_click svg{
  position: relative;
  display:block;
  bottom:0px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #222;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-middle {
  transform: translateY(10px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(20px);
}

polygon {
  fill: #717171;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 600px) {
  .bgimg-1{
    background-attachment: scroll;
  }
  .bgimg-2, .bgimg-3, .bgimg-4,.bgimg-5,.bgimg-6,.bgimg-7{
    background-attachment: scroll;
    min-height: 30vh;
  }
  .w3-wide{
    letter-spacing: 0px;
  }
  .w3-large{
    font-size: 3vw !important
  }
  .w3-xlarge{
    font-size: 5vw !important
  }
  .w3-xxlarge{
    font-size: 5.5vw !important
  }
}

.noformat{
	text-decoration: none;
}

.nolistformat{
	list-style-type: none;
	margin: 0;
  padding: 0;
}

.collabs{
	margin:20px;
	width: auto;
	text-align: center;
}

.languages{
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px
}

.mx{
  height: 10px;
  background-size: 100% 100%;
  background-image: url('../../images/mx.svg');
}

.au{
  height: 10px;
  background-size: 100% 100%;
  background-image: url('../../images/au.svg');
}

.ch{
  height: 10px;
  background-size: 100% 100%;
  background-image: url('../../images/cn.svg');
}

.fr{
  height: 10px;
  background-size: 100% 100%;
  background-image: url('../../images/fr.svg');
}

.ace{
  height: 10px;
  background-size: 100% 100%;
  background-image: url('../../images/ace.svg');
}

.ace_flag{
  border-radius: 100px 100px 10px 0px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  width: 50px;
  left: 0
}

.hover-opacity{
  opacity: 0.3
}

.hover-opacity:hover{
  opacity: 1;
}

.researchSlide {
  display: none;
}

.w3-display-wide-middle{
	left:10%;
	transform: translate(-5%,-50%);
	text-align: center;
}

.researchSlide_anim {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100.5%;
  width: auto;
  margin-top: -22px;
  padding: 5px 10px 5px 10px;
  color: rgba(128, 128, 128, 0.527);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0px;
  border-radius: 3px;
}

.prev {
  left: -0px;
  border-radius: 3px;
}

.prev:hover, .next:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(78, 78, 78, 0.404);
}

.dot,.dot_anim {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

.paper_button{
	border:none;
	display:inline-block;
	padding:0px 8px;
  margin: 0px 3px 0px 3px;
	vertical-align:bottom;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	margin-bottom: 3px
}

.doi_button{
	background-color:rgba(0,138,255,0.55);
}

.doi_button:hover{
	background-color:rgba(0,133,161,0.55);
}

.pdf_button{
	background-color:rgba(92, 47, 197, 0.55);
}

.pdf_button:hover{
	background-color:rgba(63, 32, 133, 0.55);
}

.download_links{
  border:none;
	display:inline-block;
	vertical-align:bottom;
	overflow:hidden;
	text-decoration:none;
	color:#0095B3;
}

.download_links:hover{
  color:#00d5ff;
}

#img01{opacity: 0;}
#modal01{opacity: 0;}
#caption{opacity: 0;}